# **üïµÔ∏è‚Äç‚ôÇÔ∏è HR Analytics: Job Change of Data Scientists (ETL)**

# **1. Import Libraries üìö**

In [ ]:
import pandas as pd

In [ ]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 45.0/45.0 kB 3.6 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [ ]:
from sqlalchemy import create_engine
import pymysql

# **2. Extract Data üóÉÔ∏è**

## 2.1 Enrollies' data üóÇÔ∏è

As enrollies are submitting their request to join the course via Google Forms, we have the Google Sheet that stores data about enrolled students, containing the following columns:

- enrollee_id: unique ID of an enrollee
- full_name: full name of an enrollee
- city: the name of an enrollie's city
- gender: gender of an enrollee

The source: https://docs.google.com/spreadsheets/d/1VCkHwBjJGRJ21asd9pxW4_0z2PWuKhbLR3gUHm-p4GI/edit?usp=sharing

In [ ]:
google_sheet_id = '1VCkHwBjJGRJ21asd9pxW4_0z2PWuKhbLR3gUHm-p4GI'
url = 'https://docs.google.com/spreadsheets/d/' + google_sheet_id + '/export?format=xlsx'
enrollies_data = pd.read_excel(url, sheet_name = 'enrollies')

In [ ]:
enrollies_data.head()

   enrollee_id      full_name      city gender
0         8949     Mike Jones  city_103   Male
1        29725    Laura Jones   city_40   Male
2        11561   David Miller   city_21    NaN
3        33241    Laura Davis  city_115    NaN
4          666  Alex Martinez  city_162   Male

## 2.2 Enrollies' education üè´

After enrollment everyone should fill the form about their education level. This form is being digitalized manually. Educational department stores it in the Excel format here: https://assets.swisscoding.edu.vn/company_course/enrollies_education.xlsx

This table contains the following columns:

- enrollee_id: A unique identifier for each enrollee. This integer value uniquely distinguishes each participant in the dataset.

- enrolled_university: Indicates the enrollee's university enrollment status. Possible values include no_enrollment, Part time course, and Full time course.

- education_level: Represents the highest level of education attained by the enrollee. Examples include Graduate, Masters, etc.

- major_discipline: Specifies the primary field of study for the enrollee. Examples include STEM, Business Degree, etc.

In [ ]:
enrollies_education = pd.read_excel ('enrollies_education.xlsx')

In [ ]:
enrollies_education.head()

   enrollee_id enrolled_university education_level major_discipline
0         8949       no_enrollment        Graduate             STEM
1        29725       no_enrollment        Graduate             STEM
2        11561    Full time course        Graduate             STEM
3        33241                 NaN        Graduate  Business Degree
4          666       no_enrollment         Masters             STEM

## 2.3 Enrollies' working experience ü™¥

Another survey that is being collected manually by educational department is about working experience.

Educational department stores it in the CSV format here: https://assets.swisscoding.edu.vn/company_course/work_experience.csv

This table contains the following columns:

- enrollee_id: A unique identifier for each enrollee. This integer value uniquely distinguishes each participant in the dataset.

- relevent_experience: Indicates whether the enrollee has relevant work experience related to the field they are currently studying or working in. Possible values include Has relevent experience and No relevent experience.

- experience: Represents the number of years of work experience the enrollee has. This can be a specific number or a range (e.g., >20, <1).

- company_size: Specifies the size of the company where the enrollee has worked, based on the number of employees. Examples include 50‚àí99, 100‚àí500, etc.

- company_type: Indicates the type of company where the enrollee has worked. Examples include Pvt Ltd, Funded Startup, etc.

- last_new_job: Represents the number of years since the enrollee's last job change. Examples include never, >4, 1, etc.

In [ ]:
work_experience = pd.read_csv('work_experience.csv')

In [ ]:
work_experience.head()

,enrollee_id,relevent_experience,experience,company_size,company_type,last_new_job
0,8949,Has relevent experience,>20,NaN,NaN,1
1,29725,No relevent experience,15,50-99,Pvt Ltd,>4
2,11561,No relevent experience,5,NaN,NaN,never
3,33241,No relevent experience,<1,NaN,Pvt Ltd,never
4,666,Has relevent experience,>20,50-99,Funded Startup,4

## 2.4 Training hours ‚åõ

From LMS system's database you can retrieve a number of training hours for each student that they have completed.

**Database credentials:**

- Database type: MySQL
- Host: 112.213.86.31
- Port: 3360
- Login: etl_practice
- Password: 550814
- Database name: company_course
- Table name: training_hours

In [ ]:
engine = create_engine('mysql+pymysql://etl_practice:550814@112.213.86.31:3360/company_course')
training_hours = pd.read_sql_table('training_hours', engine)

In [ ]:
training_hours.head()

   enrollee_id  training_hours
0         8949              36
1        29725              47
2        11561              83
3        33241              52
4          666               8

## 2.5 City development index üèôÔ∏è

Another source that can be usefull is the table of City development index.

The City Development Index (CDI) is a measure designed to capture the level of development in cities. It may be significant for the resulting prediction of student's employment motivation.

It is stored here: https://sca-programming-school.github.io/city_development_index/index.html

In [ ]:
tables = pd.read_html('https://sca-programming-school.github.io/city_development_index/index.html')

cities = tables[0]

In [ ]:
cities.head()

       City  City Development Index
0  city_103                   0.920
1   city_40                   0.776
2   city_21                   0.624
3  city_115                   0.789
4  city_162                   0.767

## 2.6 Employment üë©‚Äçüíª

From LMS database you can also retrieve the fact of employment. If student is marked as employed, it means that this student started to work in our company after finishing the course.

**Database credentials:**

- Database type: MySQL
- Host: 112.213.86.31
- Port: 3360
- Login: etl_practice
- Password: 550814
- Database name: company_course
- Table name: employment

In [ ]:
engine = create_engine('mysql+pymysql://etl_practice:550814@112.213.86.31:3360/company_course')
employment = pd.read_sql_table('employment', engine)

In [ ]:
employment.head()

   enrollee_id  employed
0            1       0.0
1            2       1.0
2            4       0.0
3            5       0.0
4            7       0.0

# **3. Transform data üõ†Ô∏è**

## 3.1 Enrollies' data üóÇÔ∏è

### Check code type and data quality

In [ ]:
enrollies_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   enrollee_id  19158 non-null  int64
 1   full_name    19158 non-null  object
 2   city         19158 non-null  object
 3   gender       14650 non-null  object
dtypes: int64(1), object(3)
memory usage: 598.8+ KB

In [ ]:
enrollies_data['gender'].unique()

array(['Male', nan, 'Female', 'Other'], dtype=object)

### Fix data type

In [ ]:
enrollies_data['full_name'] = enrollies_data['full_name'].astype('string')

In [ ]:
enrollies_data['city'] = enrollies_data['city'].astype('category')
enrollies_data['gender'] = enrollies_data['gender'].astype('category')

### Fill missing values

In [ ]:
gender_mode = enrollies_data['gender'].mode()[0]
enrollies_data['gender'] = enrollies_data['gender'].fillna(gender_mode)

In [ ]:
enrollies_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   enrollee_id  19158 non-null  int64
 1   full_name    19158 non-null  string
 2   city         19158 non-null  category
 3   gender       19158 non-null  category
dtypes: category(2), int64(1), string(1)
memory usage: 342.1 KB

## 3.2 Enrollies' education üè´

### Check code type and data quality

In [ ]:
enrollies_education.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   enrollee_id          19158 non-null  int64
 1   enrolled_university  18772 non-null  object
 2   education_level      18698 non-null  object
 3   major_discipline     16345 non-null  object
dtypes: int64(1), object(3)
memory usage: 598.8+ KB

In [ ]:
for col in enrollies_education.columns:
  if col != 'enrollee_id':
    print(f"üóÇÔ∏è Unique values in '{col}': {enrollies_education[col].unique()}")
    print()

üóÇÔ∏è Unique values in 'enrolled_university': ['no_enrollment' 'Full time course' nan 'Part time course']

üóÇÔ∏è Unique values in 'education_level': ['Graduate' 'Masters' 'High School' nan 'Phd' 'Primary School']

üóÇÔ∏è Unique values in 'major_discipline': ['STEM' 'Business Degree' nan 'Arts' 'Humanities' 'No Major' 'Other']

### Fix data type

In [ ]:
for col in enrollies_education.columns:
  if col != 'enrollee_id':
    enrollies_education[col] = enrollies_education[col].astype('category')

### Fill missing values

In [ ]:
for col in enrollies_education.columns:
  if col != 'enrollee_id':
    enrollies_education_mode = enrollies_education[col].mode()[0]
    enrollies_education[col] = enrollies_education[col].fillna(enrollies_education_mode)
    print(f"üì• Fill missing entries in '{col}' with mode: {enrollies_education_mode}")
    print()

üì• Fill missing entries in 'enrolled_university' with mode: no_enrollment

üì• Fill missing entries in 'education_level' with mode: Graduate

üì• Fill missing entries in 'major_discipline' with mode: STEM

In [ ]:
enrollies_education.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   enrollee_id          19158 non-null  int64
 1   enrolled_university  19158 non-null  category
 2   education_level      19158 non-null  category
 3   major_discipline     19158 non-null  category
dtypes: category(3), int64(1)
memory usage: 206.5 KB

## 3.3 Enrollies' working experience ü™¥

### Check code type and data quality

In [ ]:
work_experience.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   enrollee_id          19158 non-null  int64
 1   relevent_experience  19158 non-null  object
 2   experience           19093 non-null  object
 3   company_size         13220 non-null  object
 4   company_type         13018 non-null  object
 5   last_new_job         18735 non-null  object
dtypes: int64(1), object(5)
memory usage: 898.2+ KB

In [ ]:
for col in work_experience.columns:
  if col != 'enrollee_id':
    print(f"üóÇÔ∏è Unique values in '{col}': {work_experience[col].unique()}")
    print()

üóÇÔ∏è Unique values in 'relevent_experience': ['Has relevent experience' 'No relevent experience']

üóÇÔ∏è Unique values in 'experience': ['>20' '15' '5' '<1' '11' '13' '7' '17' '2' '16' '1' '4' '10' '14' '18'
 '19' '12' '3' '6' '9' '8' '20' nan]

üóÇÔ∏è Unique values in 'company_size': [nan '50-99' '<10' '10000+' '5000-9999' '1000-4999' '10/49' '100-500'
 '500-999']

üóÇÔ∏è Unique values in 'company_type': [nan 'Pvt Ltd' 'Funded Startup' 'Early Stage Startup' 'Other'
 'Public Sector' 'NGO']

üóÇÔ∏è Unique values in 'last_new_job': ['1' '>4' 'never' '4' '3' '2' nan]

### Fix data type

In [ ]:
for col in work_experience.columns:
  if col != 'enrollee_id':
    work_experience[col] = work_experience[col].astype('category')

### Fill missing values

In [ ]:
for col in work_experience.columns:
  if work_experience[col].isna().any():
    work_experience_mode = work_experience[col].mode()[0]
    work_experience[col] = work_experience[col].fillna(work_experience_mode)
    print(f"üì• Fill missing entries in '{col}' with mode: {work_experience_mode}")
    print()

üì• Fill missing entries in 'experience' with mode: >20

üì• Fill missing entries in 'company_size' with mode: 50-99

üì• Fill missing entries in 'company_type' with mode: Pvt Ltd

üì• Fill missing entries in 'last_new_job' with mode: 1

In [ ]:
work_experience.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   enrollee_id          19158 non-null  int64
 1   relevent_experience  19158 non-null  category
 2   experience           19158 non-null  category
 3   company_size         19158 non-null  category
 4   company_type         19158 non-null  category
 5   last_new_job         19158 non-null  category
dtypes: category(5), int64(1)
memory usage: 245.0 KB

## 3.4 Training hours ‚åõ

### Check code type and data quality

In [ ]:
training_hours.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   enrollee_id     19158 non-null  int64
 1   training_hours  19158 non-null  int64
dtypes: int64(2)
memory usage: 299.5 KB

In [ ]:
training_hours['training_hours'].describe()

count    19158.000000
mean        65.366896
std         60.058462
min          1.000000
25%         23.000000
50%         47.000000
75%         88.000000
max        336.000000
Name: training_hours, dtype: float64

### Handling outliers

In [ ]:
# Calculate IQR
Q1 = training_hours['training_hours'].quantile(0.25)
Q3 = training_hours['training_hours'].quantile(0.75)
IQR = Q3 - Q1

# Calculate lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Remove all outliers
training_hours = training_hours[(training_hours['training_hours'] >= lower_bound) & (training_hours['training_hours'] <= upper_bound)]

In [ ]:
training_hours['training_hours'].describe()

count    18174.000000
mean        55.499670
std         42.305548
min          1.000000
25%         22.000000
50%         45.000000
75%         80.000000
max        184.000000
Name: training_hours, dtype: float64

## 3.5 City development index üèôÔ∏è

### Check code type and data quality

In [ ]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   City                    123 non-null    object
 1   City Development Index  123 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.1+ KB

In [ ]:
cities['City Development Index'].describe()

count    123.000000
mean       0.753992
std        0.119872
min        0.448000
25%        0.698000
50%        0.754000
75%        0.851500
max        0.949000
Name: City Development Index, dtype: float64

### Fix data type

In [ ]:
cities['City'] = cities['City'].astype('category')

In [ ]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   City                    123 non-null    category
 1   City Development Index  123 non-null    float64
dtypes: category(1), float64(1)
memory usage: 6.2 KB

## 3.6 Employment üë©‚Äçüíª

In [ ]:
employment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   enrollee_id  19158 non-null  int64
 1   employed     19158 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 299.5 KB

In [ ]:
employment['employed'].unique()

array([0., 1.])

‚úÖ The Employment dataset is clean and has no null value to handle.

# **4. Load data to SQL üñ•Ô∏è**

In [ ]:
# Define database path and engine
db_path = 'data_warehouse.db'
engine = create_engine(f'sqlite:///{db_path}')

# List of (DataFrame, table_name)
tables = [
    (enrollies_data, 'dim_enrollies_data'),
    (enrollies_education, 'fact_enrollies_education'),
    (work_experience, 'dim_work_experience'),
    (training_hours, 'dim_training_hours'),
    (cities, 'dim_cities'),
    (employment, 'dim_employment')
]

# Create a list to contain all the records
csv_combined = []


# Write each to SQL, Excel and SQL
with pd.ExcelWriter('data_warehouse.xlsx') as writer:
  for df, table_name in tables:
      # Write to SQL
      df.to_sql(table_name, engine, if_exists='replace', index=False)
      # Write to excel
      df.to_excel(writer, sheet_name=table_name, index=False)
      # Write to CSV
      df_with_name = df.copy()
      df_with_name.insert(0, 'table_name', table_name)
      csv_combined.append(df_with_name)

# Combine all data and save to one CSV
combined_df = pd.concat(csv_combined, ignore_index=True)
combined_df.to_csv('data_warehouse.csv', index=False)

print('Data has been saved to all sources ‚úÖ')

Data has been saved to all sources ‚úÖ